/palma.db
/palma.ini
/uploads
/palma.po
/last_activity
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/palma/
/debian/palma-apache/
/debian/palma-nginx/
/debian/palma-themes-ubma/
/debian/tmp/
/debian/*.substvars
/docs/dist/phpcs.phar
/locale/*/LC_MESSAGES/*.mo
/locale/*/LC_MESSAGES/*.po~
/vendor/
*~
\#*
