/* Styles for PalMA. */

/* General settings */
body {
    max-width: 1200px;
    margin: 0 auto;
}
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #990000;
    border-radius: 6px;
}
.pure-button {
    padding: 0.5em;
}
a {
    color: #990000;
    text-decoration: none;
}
a:hover, a:active {
    color: #990000;
    text-decoration: underline;
}

/* Login form (login.php) */
legend {
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: center;
}
#login_mask {
    margin: 5em auto;
    padding: .5em 1.5em;
    width: auto;
    max-width: 460px;
    background-color: #F1F1F1;
    border: 1px solid #c0c0c0;
}
#login_mask i {
    margin: .2em .6em;
}
#login_mask p {
    text-align: center;
}
#login_mask .policy {
    font-size: .8em;
    margin: .5em;
    text-align: center;
}
#login_fields {
    float: left;
    margin-right: .5em;
}

/* Workplace selection (monitor.php) */
#monitor_selection button {
    margin: 10px 10px 10px 10px;
    text-align: left;
    width: 240px;
}
#monitor_selection .fa-desktop {
    float: right;
    padding: 0 10px 0 10px;
}
#monitor_selection {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #F1F1F1;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 8px 8px 4px #666666;
    width: 790px;
}

/* Workplace selection (learningcenter.php) */
#monitor_mask {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0 0 20px 0;
    background-color: #F1F1F1;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 8px 8px 4px #666666;
    width: 560px;
}
.monitorchoice {
    margin-left: 40px;
}
.selectdisplay {
    background:url("images/main-klein.png");
    width:100px;
    height:80px;
    background-repeat:no-repeat;
    display:block;
    margin: 10px 10px 0 0;
}

/* Main User Interface (index.php) */
#greeting {
    padding: 5em 1em;
    height: 100%;
    background-color: white;
}
#greeting p {
    margin: 0;
}
#greeting, div.tab, div.subtab {
    text-align:center;
}

/* Tabs and Subtabs */
div.tab, div.subtab {
    overflow: hidden;
    background-color: #990000;
}
div.subtab {
    background-color: #e2e2e2;
    border-top: none;
}
div.tab button, div.subtab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .6em .8em;
    transition: 0.3s;
    color: #f1f1f1;
    width:auto;
}
div.subtab button {
    color: black;
}
div.tab button:hover {
    background-color: #995555;
}
div.subtab button:hover {
    background-color: #d1d1d1;
}
div.tab button.active {
    background-color: #998888;
}
div.subtab button.active {
    background-color: #c0c0c0;
}
.tabcontent, .subtabcontent {
    display: none;
    text-align: center;
    -webkit-animation: fadeEffect 1s;
    -moz-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.subtabcontent {
    padding: 1.5em 1em;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Workbench */
#workbench {
    margin-bottom: 2em;
}
div.description {
    margin-top: .8em;
    font-size: .8em;
    font-style: italic;
}

/* Add File */
#palma-dropzone {
    background-color: #EFEFEF;
    border-radius: 6px;
    color: #990000;
    cursor: pointer;
    text-align: center;
    border: 1px dotted #990000;
}
.fa-upload {
    float: right;
}

/* Add URL */
#url_field {
    width: 65%;
}
#url_button {width: 25%;}

/* Add Screen */
#vnc-button {
    border:1px solid #990000;
    border-radius: 7px;
    min-width:260px;
    min-height:50px;
    width: 20%;
    margin: .5em auto;
    padding: 1em;
    color: #990000;
    cursor:pointer;
    cursor: hand;
}
#vnc-button-eye { float:left; }
#vnc-button-container {
    float:right;
    margin-left: 1em;
}
#vnc-button-label {
    font-size: 25px;
    font-weight:bold;
    font-family: Tahoma, Sans-Serif;
}
#vnc-button-label-subtext {
    font-size: 12px;
    font-family: Tahoma, Sans-Serif;
}

/* Control Layout */
div.screenlayout {
    display: inline-block;
    margin: .1em;
    vertical-align: middle;
}
div.screenlayout button {
    width: 3.5em;
    height: 3.5em;
    background-color: #b1b1b1;
}
div.screenlayout button:hover, .screenlayout button:active {
    background-color: #990000;
}
div.screenlayout div.layout_left, div.screenlayout div.layout_right {
    display: inline-block;
    vertical-align: middle;
}

/* Control Navigate */
div.window_entry {
    display: block;
    border: 1px solid #c0c0c0;
    max-height: 12em;
    margin: 0 auto;
}
div.window_entry button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
}
button.window_entry_button {
    background-color: #e2e2e2;
    padding: .6em .8em;
    transition: 0.3s;
    color: black;
    width: 100%;
}
button.window_entry_button:hover {
    background-color: #c0c0c0;
}
button.window_entry_button:active {
    background-color: #b1b1b1;
}
div.windowcontrols {
    display: none;
    margin: 0 auto;
}
div.movement, div.non_movement {
    margin: .5em auto 0 auto;
    display: inline-block;
}
div.windowcontrols button:active, div.windowcontrols button:hover {
    color: #990000;
}
div.arrows button {
    margin: .5em .8em 0 .8em;
}
div.jump {
    margin-top: .75em;
}
div.position {
    display: inline-block;
    margin: .2em auto;
    border-radius: 6px;
    width: 3.5em;
    height: 3.5em;
    background-color: #b1b1b1;
}
div.position div.layout_left, div.position div.layout_right {
    display: inline-block;
    vertical-align: middle;
}
div.position button {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
div.position button:hover {
    background-color: inherit;
    background-image: none;
}
div.position i {
    color: #fff;
}
div.position button:hover i {
    color: #995555;
    background-color: inherit;
}
div.position button.selected i {
    color: #990000;
}
/* Extras Help */
/* No styling yet */

/* Extras Feedback & Recommend */
#contact input, #contact textarea {
    width: 75%;
    max-width: 300px;
    margin-bottom: .8em;
}

/* Socical Media Buttons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}
.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}
.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}
.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}
.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}
/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}
/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}
.resp-sharing-button--twitter {
  background-color: #55acee
}
.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}
.resp-sharing-button--pinterest {
  background-color: #bd081c
}
.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}
.resp-sharing-button--facebook {
  background-color: #3b5998
}
.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}
.resp-sharing-button--tumblr {
  background-color: #35465C
}
.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}
.resp-sharing-button--reddit {
  background-color: #5f99cf
}
.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}
.resp-sharing-button--google {
  background-color: #dd4b39
}
.resp-sharing-button--google:hover {
  background-color: #c23321
}
.resp-sharing-button--linkedin {
  background-color: #0077b5
}
.resp-sharing-button--linkedin:hover {
  background-color: #046293
}
.resp-sharing-button--email {
  background-color: #777
}
.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}
.resp-sharing-button--xing {
  background-color: #1a7576
}
.resp-sharing-button--xing:hover {
  background-color: #114c4c
}
.resp-sharing-button--whatsapp {
  background-color: #25D366
}
.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}
.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }
.resp-sharing-button--vk {
  background-color: #507299
}
.resp-sharing-button--vk:hover {
  background-color: #43648c
}
.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}
.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}
.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}
.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}
.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
.resp-sharing-button--telegram {
  background-color: #54A9EB;
}
.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}

/* Extras User */
.userlist {
    width: 75%;
    max-width: 500px;
    text-align: left;
    margin: 0 auto 1em auto;
}
.userlist caption {
    caption-side: top;
}
.userlist, .userlist td, .userlist tr {
    background-color: white;
    border: 1px solid #666666;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 1px;
    vertical-align: top;
}
.userlist caption i {
    background-color: inherit;
    color: black;
    margin-left: 10px;
}
.userlist i {
    background-color: LightGray;
    border-radius: 3px;
    color: black;
    margin: 2px 5px 2px 0;
    width: 15px;
    padding: 2px;
    text-align: center;
}
.userlist .fa-user {
    background-color: black;
    border-radius: 3px;
    color: white;
    margin: 2px;
    padding: 2px;
}
.dz-default {
    padding: 1.5em;
}

/* Footer & Logout Link*/
#footer {
    text-align: center;
    background-color: #c0c0c0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: inherit;
}
#footer a {
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .3em .8em;
    transition: 0.3s;
    display: block;
}
#footer a:hover, #footer a:active {
    background-color: #990000;
    color: white;
}
#footer a:link {
    text-decoration: none;
}
#footer a:visited {
    text-decoration: none;
}
.fa-sign-out {
    margin-left: .5em;
}

/* Modifications for larger screens */
@media only screen and (min-height:640px){
    #Add div.subtab, #Control div.subtab {
        display: none !important;
    }
   #Add div.subtabcontent, #Control div.subtabcontent {
        display: block !important;
    }
    #greeting {
        display: block;
    }
}

/* Print Layout */
@media print {
.hidden { display: block; visibility: visible }
div.slide pre { font-size: 60%; padding-left: 0.5em; }
div.toolbar { display: none; visibility: hidden; }
div.slidy_toc { display: none; visibility: hidden; }
div.background { display: none; visibility: hidden; }
div.slide { page-break-before: always }
/* :first-child isn't reliable for print media */
div.slide.first-slide { page-break-before: avoid }
}
