/* Styles for PalMA. */

/* General settings (login.php, learningcenter.php, index.php) */

/* TODO:
get rid of large white-space in the background on smaller screens
 */

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #990000;
    border-radius: 6px;
}

/* Login form (login.php) */

legend {
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
}

#login_mask_outer {
	padding: 1% 5% 1% 5%;
	min-width: 220px;
}

#login_mask {
	margin: 1% auto;
    padding: 0px 5% 1.5% 5%;
    width: auto;
	max-width: 460px;
	background-color: #F1F1F1;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 8px 8px 4px #666666;
}
#login_mask i {
    margin: 5px 5px 5px 10px;
}
#login_mask p {
    text-align: center;
}
#login_mask .policy {
    font-size: 75%;
    margin: .5%;
    text-align: center;
}
#login_mask .policy a {
    color: #900;
    text-decoration: none;
}
#login_fields {
	float: left;
	margin-right: 15%;
}

/* Workplace selection (monitor.php) */

#monitor_selection button {
    margin: 10px 10px 10px 10px;
    text-align: left;
    width: 240px;
}

#monitor_selection .fa-desktop {
    float: right;
    padding: 0px 10px 0px 10px;
}

#monitor_selection {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #F1F1F1;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 8px 8px 4px #666666;
    width: 790px;
}

/* Workplace selection (learningcenter.php) */

#monitor_mask {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    padding: 0px 0px 20px 0px;
    background-color: #F1F1F1;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 8px 8px 4px #666666;
    width: 560px;
}

.monitorchoice {
    margin-left: 40px;
}

.selectdisplay {
    background:url("images/main-klein.png");
    width:100px;
    height:80px;
    background-repeat:no-repeat;
    display:block;
    margin: 10px 10px 0px 0px;
}

/* Workplace (index.php) */

.fa-sign-out {
    margin: 10px 0px 5px 10px;
}


#workbench_outer {
	padding: 1% 1.5%;
	min-width: 220px;
}

#workbench {
    background-color: #F1F1F1;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 8px 8px 4px #666666;
	margin: 1% auto;
    padding: .5% 1.5% 1% 1.5%;
	min-width: 220px;
	width: auto;
    max-width: 880px;
	height: auto;
}


/* Left part of workbench */

#workbench_left {
	width: 80%;
    max-width: 600px;
}

#workbench div {
    text-align: center;
}

/* Main display. */
#workbench_left .maindisplay {
    width: 600px;
	height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#workbench_left .maindisplay caption {
    caption-side: top;
}

.maindisplay td, .maindisplay tr {
    border: 2px solid #EFEFEF;
}
.maindisplay {
    background-color: LightGray;
    padding: 0px;
    text-align: center;
    vertical-align: middle;

}
.maindisplay button {
    height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
}
.maindisplay i {
    background-color: #990000;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

/* Cursor controls. */
.maindisplay .control {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.maindisplay .control td, .maindisplay .control tr {
    border: 0px solid green;
    border-collapse: collapse;
    border-spacing: 0px;
}

.maindisplay #more {
    cursor: pointer;
    font-size: 120%;
}

#show_hide {display: none;}

#url_doc {width: 100%;}
#url_field {
    width: 80%;
}
#url_button {width: 15%;}

#displaylist {
	width: 100%;
}

/* Online help. */

#helpwindow {
    background-color: #000000;
    background: rgba(0, 0, 0, 0.7);
    position: absolute; top: 0; left: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}
#helpcontainer {
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    display: block;
    width: 720px;
}
#helpcontainer h3 {
    font-size: 2em;
}
#helpcontainer button {
    margin-top: 10px;
}
#helpclose {
    color: #990000;
    cursor: pointer;
    float:right;
    font-size: 3em;
}

/* Extended control panel (overlay) */

.overlay button {
    height: 70px;
    width: 70px;
}
.overlay .fa-times {
    color: #990000;
    cursor: pointer;
    font-size: 1.5em;
}
#overlay {
    background-color: #000000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 200%;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 10;
}
#container {
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px 20px 40px 20px;
    display: block;
    width: 600px;
}
#close {
    float:right;
}



/* Right part of workbench */

#workbench_right {
    float: right;
    max-width: 250px;
	width: 30%;
}

#workbench_right p, #workbench_right table, #workbench_right button {
	margin-right: auto;
	margin-left: auto;
	}

#workbench_right button {margin-top: 10px;}

/* Logout link. */
#workbench_right a {
    background-color: #990000;
    color: white;
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#workbench_right a:link {
    text-decoration: none;
}
#workbench_right a:visited {
    text-decoration: none;
}

#workbench_end {
    clear:both;
}


.fa-upload {
    float: right;
}

/* File list, user list. */

.itemlist, .userlist {
    margin-top: 20px;
    width: 100%;
	text-align: left;
}
.itemlist caption, .userlist caption {
    caption-side: top;
}
.itemlist caption i {
    margin-left: 10px;
    text-align: center;
}
.itemlist i {
    text-align: center;
}
.itemlist .fa-ban, .itemlist .fa-eye, .itemlist .fa-trash-o {
    background-color: #990000;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 2px;
    width: 15px;
    padding: 2px;
}
.itemlist #itemstatus {
    width: 4em;
}
.itemlist #itemtrash {
    width: 1em;
}
.itemlist, .itemlist td, .itemlist tr, .userlist, .userlist td, .userlist tr {
    background-color: white;
    border: 1px solid #666666;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 1px;
    vertical-align: top;
}
.userlist caption i {
    background-color: inherit;
    color: black;
    margin-left: 10px;
}
.userlist i {
    background-color: LightGray;
    border-radius: 3px;
    color: black;
    margin: 2px 5px 2px 0px;
    width: 15px;
    padding: 2px;
    text-align: center;
}
.userlist .fa-user {
    background-color: black;
    border-radius: 3px;
    color: white;
    margin: 2px;
    padding: 2px;
}

.dz-default {
    margin-top: 10px;
    max-width: 580px;
    padding: 10px;
}

.minidisplaylist table {
    background-color: LightGray;
    width: 85px;
    height: 45px;
}
.minidisplaylist tr, .minidisplaylist td {
    border: 1px solid #EFEFEF;
}
.minidisplaylist button {
    color: #990000;
    width: 100px;
    height: 60px;
}

#windowlist div {text-align: left; margin-left: 2px;}

#palma-dropzone {
    background-color: #990000;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    text-align: center;
}

/* --- */

h2 {
    text-align: center;
}

/*
table, tr, th, td {
    border: 1px solid Gray;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
*/
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0px;
/*
    padding: 0px;
    empty-cells: show;
    table-layout: fixed;
*/
}
/*
#zeit {
    margin-top: 8px;
    border: 2px solid darkred;
    border: 1px solid magenta;
}
*/

.controlpanel {
    background-color: #EFEFEF;
    border: 1px solid #696969;
    border-radius: 10px;
    margin: 20px 20px 0;
    padding: 20px;
}

.controlbutton {
    cursor: pointer;
}

.updown {
    background-color: LightGray;
    border-radius: 5px;
    float: left;
    margin: 0 0 20px;
    padding: 5px 5px 0 75px;
    text-align: center;
    width: 300px;
}

.zoom {
    float: right;
}

.bar {
    clear: left;
}

/* List of display variants. */
.minidisplaylist {
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    width: 600px;
    height: 90px;
}
.minidisplaylist caption {
    caption-side: top;
}
.minidisplaylist td, .minidisplaylist tr {
    padding: 0px;
}
.minidisplaylist, .minidisplaylist td, .minidisplaylist tr {
}

.minidisplaylist div {
    cursor: pointer;
    display: block;
    height: 80px;
    width: 100px;
}

/* Display variant. */
.minidisplay {
    border: 1px solid orange;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 120px;
    height: 80px;
    margin-left: 0px;
    margin-right: 5px;
}
.minidisplay td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    height: 50%;
    padding: 0px;
}
.minidisplay tr {
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
    width: 50%;
    height: 50%;
    padding: 0px;
}
.minidisplay, .minidisplay td, .minidisplay tr {
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}
.minidisplay:hover {
    border: 1px solid red;
}


@media print {
  .hidden { display: block; visibility: visible }

  div.slide pre { font-size: 60%; padding-left: 0.5em; }
  div.toolbar { display: none; visibility: hidden; }
  div.slidy_toc { display: none; visibility: hidden; }
  div.background { display: none; visibility: hidden; }
  div.slide { page-break-before: always }
  /* :first-child isn't reliable for print media */
  div.slide.first-slide { page-break-before: avoid }
}



@media only screen and (max-width:800px){
.minidisplaylist div {
    width: 80px;
}
.minidisplaylist button {
    width: 75px;
}
.minidisplaylist button table {
width: 60px;
}
}



@media only screen and (max-width:1280px){
#workbench_left {
	width: 65%;
}
#workbench_left .maindisplay {
		max-width: 600px;
		width: 100%;
		height: 100%;
		max-height: 300px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
#workbench_right {
	padding: 5px;
}
.itemlist, .userlist {
    width: 80%;
}
}


@media only screen and (max-width:360px) {
	#show_hide button {width: 48%;}
}


@media only screen and (max-width:480px){
#workbench_outer {
	padding: 1% 1.5%;
	min-width: 220px;
}
#workbench_right, #url_doc, #displaylist {display: none;}
#workbench_left .maindisplay {
		max-width: 600px;
		width: 100%;
		height: 80%;
		max-height: 300px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
#url_field {
    width: 70%;
}
#url_button {width: 25%;}
.minidisplaylist div {
    width: 55px;
}
.minidisplaylist button {
    width: 50px;
}
.minidisplaylist button table {
width: 35px;
}
#workbench_left {
	width: 100%;
    max-width: 600px;
}
#maindisplay{display: none;}
#show_hide {display: block; margin: 2px;}
#show_hide button {
	margin: 2px;
	display: inline;
	float: left;
	font-size:0.8em;
	}
.control button {height: 40px; width: 40px;}
#workbench {margin: .5px;}
}


@media only screen and (max-width:640px){
#overlay {
    background-color: #000000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 100%;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 5;
}

#container {
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px 10px 20px 10px;
    display: block;
    width: 90%;
	max-width: 400px;
}

.overlay button {
    height: 40px;
    width: 40px;
}

.updown {
    margin: 0 0 20px;
    padding: 2.5px 2.5px 0 35px;
    width: 150px;
}

.controlpanel {
    margin: 10px 10px 0;
    padding: 10px;
}

#workbench_right {
    max-width: 600px;
	width: 100%;
}

#workbench_right button {margin: 5px;}


#helpwindow {
    width: 100%;
	height: auto;

}
#helpcontainer {
    margin-top: 10px;
    padding: 10px 10px 20px 10px;
	width: 80%;
    max-width: 600px;
}
#helpcontainer h3 {
    font-size: 1em;
}
#helpcontainer button {
    margin-top: 5px;
	width: 90%;
	font-size: .8em;

}
#helpclose {
    color: #990000;
    cursor: pointer;
    float:right;
    font-size: 3em;
}

}


@media only screen and (min-width:480px) and (max-width:640px){
#workbench_outer {
	padding: 1% 2.5%;
	min-width: 220px;
}
#workbench_left {
	width: 100%;
    max-width: 600px;
}
#workbench_right, #url_doc, #displaylist {display: none;}
#workbench_left .maindisplay {
		max-width: 600px;
		width: 100%;
		height: 80%;
		max-height: 300px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
#maindisplay{display: none;}

.minidisplaylist div {
    width: 80px;
}
.minidisplaylist button {
    width: 75px;
}
.minidisplaylist button table {
width: 60px;
}

#show_hide {display: block; margin: 2px;}
#show_hide button {margin: 2px; display: inline;}
.control button {height: 40px; width: 40px;}
#workbench {margin: .5px;}


.list_container {
	display: block;
	margin-top: 1em;
	margin-left: 15px;
	width: 100%;
	height: auto;
	min-height: 100px;
}

.list_container button {
	width: 45%;
	max-width: 250px;
	margin-top: 0px;
}

.userlist, .itemlist {
	float: left;
	width: 50%;
	max-width: 210px;
	margin: 0px;
	}

#helpwindow {
    width: 100%;
	min-height: 640px;
	height: auto;

}
}
