Source: palma
Section: unknown
Priority: optional
Maintainer: Jörg Mechnich <Joerg.Mechnich@bib.uni-mannheim.de>
Build-Depends: debhelper (>=10)
Standards-Version: 4.0.0
Homepage: https://github.com/UB-Mannheim/PalMA

Package: palma
Architecture: all
Depends: ${misc:Depends}, palma-nginx | palma-apache, chromium-browser | chromium | midori, feh, libreoffice, ssvnc, x11vnc, zathura, wmctrl, xdotool, openbox, sqlite3, php, php-curl, php-gd, php-intl, php-sqlite3, php-mbstring, gettext, libavcodec-extra | libavcodec58 , xserver-xorg, unclutter
Description: PalMA – share a team monitor
 PalMA enables people to share several contents on one monitor. Users
 can display PDF files, office files, images, videos, websites and or
 computer screens in real time (up to four entries
 simultaneously). Everything can be controlled via a website, so it's
 perfectly usable for all kinds of (mobile) devices.

Package: palma-nginx
Architecture: all
Depends: ${misc:Depends}, nginx-light | nginx-full, php-fpm
Recommends: nginx-light
Conflicts: palma-apache
Description: PalMA – share a team monitor
 PalMA enables people to share several contents on one monitor. Users
 can display PDF files, office files, images, videos, websites and or
 computer screens in real time (up to four entries
 simultaneously). Everything can be controlled via a website, so it's
 perfectly usable for all kinds of (mobile) devices.
 .
 This package contains configuration files for using PalMA with nginx.

Package: palma-apache
Architecture: all
Depends: ${misc:Depends}, apache2, libapache2-mod-php
Recommends: apache2
Conflicts: palma-nginx
Description: PalMA – share a team monitor
 PalMA enables people to share several contents on one monitor. Users
 can display PDF files, office files, images, videos, websites and or
 computer screens in real time (up to four entries
 simultaneously). Everything can be controlled via a website, so it's
 perfectly usable for all kinds of (mobile) devices.
 .
 This package contains configuration files for using PalMA with apache2.

Package: palma-themes-ubma
Architecture: all
Depends: ${misc:Depends}, palma
Description: PalMA – share a team monitor
 PalMA enables people to share several contents on one monitor. Users
 can display PDF files, office files, images, videos, websites and or
 computer screens in real time (up to four entries
 simultaneously). Everything can be controlled via a website, so it's
 perfectly usable for all kinds of (mobile) devices.
 .
 This package contains theme files used by the University Library of Mannheim.
