[Unit]
Description=Start PalMA Station

[Service]
Type=simple
ExecStart=/usr/lib/palma/startx
WorkingDirectory=/var/www/html
User=root
Group=www-data

[Install]
WantedBy=multi-user.target
